.c-header
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 1
  background: #fff
  cursor: pointer
  
  .name
    margin: auto
    text-align: center
    font-size: 50px
    color: #0084ff
    text-transform: uppercase
    line-height: 100px
    border-bottom: 1px solid #b2b2b2

